/* Tablet responsive */
@media screen and (min-width: 768px) {
    /* Section 1 */
    .section-1 .col:first-child {
        width: calc((100% / 3) * 2);
    }

    .section-1 .col {
        width: calc(100% / 3);
    }

    .section-1 img {
        width: 50%;
    }
    /* /Section 1 */
}

/* Desktop responsive */
@media screen and (min-width: 992px) {
    /* Common */
    .container {
        width: 65%;
    }

    /* Header */
    .menu {
        display: block;
    }
    
    
    .menu ul {
        align-items: center;
        gap: 2rem;
    }

    .menu .button {
        background-color: var(--white);
        color: var(--black);
        padding: 0.4rem 0.8rem;
        border-radius: 1rem;
    }
    
    .bars {
        display: none;
    }

    /* Section 1 */
    .section-1 .card-1 img {
        width: 100%;
    }

    .row-card {
        display: flex;
        height: 100%;
    }
    
    .col-card-1,
    .col-card-2 {
        width: 50%;
    }

    .col-card-2 {
        align-items: end;
    }

    /* /Section 1 */

    /* Section 2 */
    .section-2 .col {
        width: calc(50% - 1rem);
    }

    .section-2 .card-1 {
        flex-direction: column;
    }

    .section-2 .row {
        gap: 2rem;
    }

    .section-2 .card-1 img {
        margin-bottom: 2rem;
    }

    .section-2 .col:last-child {
        align-items: end;
    }

    .section-2 .card-2 {
        height: auto;
    }

    /* /Section 2 */
}

/* Large desktop resposive */
@media screen and (min-width: 1200px) {

}