/* Variables */
:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --violet: #9792E4;
    --yellow: #FDC15F;
    --grey: #333333;
    --white: #FFFFFF;
    --black: #000000;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */
body {
    font-family: "PT sans", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    flex-direction: row;
}

/* Utilities */
.flex {
    display: flex;
}

/* Header */
header {
    height: 100%;
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 0;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

.bars {
    font-size: 1.5rem;
}

.menu {
    display: none;
}

.menu ul {
    align-items: center;
}

.menu li {
    padding: 0 1rem;
}

.menu .button {
    background-color: var(--white);
    color: var(--black);
}

/* Main */

/* Section 1 */
.section-1 {
    background-color: var(--white);
}

.section-1 .container {
    margin: 3rem auto 5rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.large-col {
    width: 100%;
}

.col {
    width: 100%;
}

.card {
    background-color: var(--lightblue);
    /* debug */
    height: 15rem;
}