/* Variables */
:root {
    --blue: #0084FD;
    --lightblue: #B5DDFF;
    --violet: #9792E4;
    --yellow: #FDC15F;
    --grey: #333333;
    --lightgrey: #5A6E7F;
    --white: #FFFFFF;
    --black: #000000;
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

/* Common */
body {
    font-family: "PT sans", sans-serif;
}

.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 2rem;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    list-style-type: none;
    flex-direction: row;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.card {
    border-radius: 1.2rem;
    height: 100%;
}

.card-icon {
    color: var(--blue);
    font-size: 5rem;
}

/* Utilities */
.flex {
    display: flex;
}

/* Header */
header {
    height: 100%;
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 0;
}

header .container {
    justify-content: space-between;
    align-items: center;
}

.bars {
    font-size: 1.5rem;
}

.menu {
    display: none;
}

/* Main */

/* Section 1 */
.section-1 {
    background-color: var(--white);
}

.section-1 .container {
    padding: 3rem 1.25rem 5rem;
}

.section-1 .card {
    background-color: var(--lightblue);
    font-weight: 700;
    padding: 2rem 2rem;
    gap: 2rem;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
}

.section-1 .big-card {
    text-align: left;
    padding-bottom: 0;
}

.section-1 .col {
    width: 100%;
    padding: 0.75rem;
}

.card-title {
    color: var(--blue);
}

.card p {
    color: var(--lightgrey);
    line-height: 1.7rem;
}

.section-1 .button {
    background-color: var(--blue);
    color: var(--white);
    padding: 0.7rem;
    border-radius: 1.5rem;
    letter-spacing: 0.2em;
    text-align: center;
}

.section-1 a {
    width: 100%;
    max-width: 13rem;
}

/* Section 2 */
.section-2 {
    background-color: var(--violet);
}

.section-2 .container {
    padding: 5rem 1.25rem 3rem;
}

.section-2 .card {
    background-color: var(--white);
}